<script id="J-template" style="display:none" type="text/template">
    <div class="item clearfix">
        <h4>{{ title }}</h4>
        <div class="thumbnail">
            <img src="{{ img }}" />
        </div>
        <div class="info">
            <p class="desc">{{ detail }}</p>
            <div class="links row">
                <p class="footer span7 fl"><span class="mallname">{{ mallname }}</span><span class="source-box">{{time}}前从<span class="source">{{ source }}</span>同步</span></p>
                <button data-link="{{ url }}" class="span1 rt btn buy btn-success">立即购买</button>
            </div>
        </div>
    </div>
</script>
