@import "compass/css3";

*{
    padding:0;
    margin: 0;
}

body{
    background: #0571cc url(../img/top.png) no-repeat top center;
    @include background-size(480px auto);
}
header{
    position: relative;
    a.home{
        display: block;
        position: absolute;
        top: 0;
        left: 5px;
        width: 44px;
        height: 44px;
        background: url(../img/home.png) no-repeat center center;
        @include background-size(44px auto);
        text-indent: -999em;
    }
    .award{
        background: url(../img/award.png) no-repeat center center;
        width: 100%;
        height: 240px;
        @include background-size(276px auto);
    }
    p{
        position: relative;
        top: 170px;
        text-align: center;
        color: #fdd237;
        font-size: 14px;
        span{
            color: white;
            font-weight: bold;
            margin: 0 3px;
        }
    }
}
.main{
    height: 380px;
    background: #fff9e4;
    margin-bottom: 20px;
    margin-top: -40px;
    @include box-flex(1);
    padding: 20px 25px;
    button{
        margin: 15px auto;
        display: block;
    }
    p{
        color: #f69101;
        font-size: 14px;
        line-height: 20px;
    }
}
.row {
    @include display-box;
    position: relative;
    margin-top: 10px;
    border: 1px solid #c4c4c4;
    line-height: 32px;
    color: #777;
    background-color: white;
    .flex {
        @include box-flex(1);
        position: relative;
    }
    label {
        background-color: white;
        display: block;
        padding-left: 8px;
        height: 32px;
        font-weight: bold;
        font-size: 15px;
    }
    .placeholder {
        display: none;
        position: absolute;
        top: 0;
        width: 100%;
        height: 100%;
        font-size: 12px;
        color: #bfbfbf;
    }
    input, textarea {
        display: block;
        border: 0 none;
        width: 100%;
        font-size: 12px;
        font-family: inherit;
        line-height: inherit;
        color: inherit;

        &:focus {
            outline: 0 none;
        }
    }
    textarea {
        resize: none;
        min-height: 128px;
    }
}
footer p{
    line-height: 18px;
    color:#011134;
    text-align: center;
    font-size: 12px;
}

button{
    color: white;
    background: #fdd237;
    border:0 none;
    // height: 44px;
    padding: 5px 12px;
    font-size: 18px;
    text-align: center;
    @include text-shadow(1px 1px 1px #b58f04);
    @include box-shadow(1px 3px 2px #c89d01);
    @include border-radius(10px);
    &[disabled]{
        background-color: #E9B600;
    }
}
