.page-newsDetail{
	overflow: hidden;
	width: 100%;
	margin: auto;
	.detail{
		width: 100%;
		float: left;
		margin: 0.1rem 0.2rem 0.1rem 0.02rem;
		.detail-content{
			padding: 0.1rem;
			background: #fff;
			.title{
				color: #565656;
				font-size: 0.2rem;
				line-height: 0.30rem;
				padding-bottom: 0.20rem;
				font-weight: normal;
			}
			.author-share{
				height: 0.15rem;
				margin-bottom: 0.20rem;
				.bdsharebuttonbox{
					display: none;
				}
				.author{
					height: auto;
					float: left;
					width: 100%;
					overflow: hidden;
					.author_photo{
						height: 0.15rem;
						display: inline-block;
						width: 0.15rem;
						background-size: 100% 100%;
						border-radius: 0.15rem;
						float: left;
						margin-left: 0.05rem;
					}
					.name_time{
					    font-size: 0.12rem;
					    i{
							font-style: normal;
							display: inline-block;
							 &.author-name{
								color: #565656;
							    padding: 0;
							    font-size: .12rem;
							    float: left;
							    height: 0.15rem;
							    margin-top: -2px;
							}
							&.time{
								color: #c9c9c9;
							    height: 0.15rem;
							    padding-right: 0;
							    font-size: .12rem;
							    float: right;
							    margin-top: -2px;
							}
						}
					}
				}
				.share{
					display: none;
				}
			}
			.content-img{
				width: 100%;
				margin: auto;
				height: 2.5rem;
				img{
					width: 100%;
					height: 100%;
				}
			}
			.content-detail{
				margin: 0.20rem 0;
				font-size: 0.15rem;
				line-height: 0.3rem;
				color: #696969;
				img{
					max-width : 100% !important;
					display: block;
			    	margin: 0 auto;
				}
				h2 {
				    font-size: 18px;
				    font-weight: bold;
				    color: #fff;
				    margin: 0 auto 30px; /* 原设计稿，所有margin-bottom应该是33px */
				    text-align: center;
				    height: 35px;
				    width: 100%;
				    border-radius: 20px;
				    -moz-border-radius: 20px;
				    -webkit-border-radius: 20px;
				    background: #00caa9;
				    line-height: 35px;
				}

				h3 {
				    font-size: 18px;
				    font-weight: bold;
				    color: #696969;
				    margin: 0 0 30px 0; /* 原设计稿，所有margin-bottom应该是33px */
				    line-height: 35px;
				    border-left: 5px solid #00caa9;
				    padding-left: 12px;
				}

				p {
				    font-size: 16px;
				    color: #696969;
				    line-height: 25px;
				    margin: 0 0 20px 0; /* 原设计稿，所有margin-bottom应该是33px，且备注margin-top为24px（编辑器中的备注的margin-bottom也已经改为12px） */
				}

				a {
				    font-size: 15px;
				    color: #00caa9;
				    line-height: 39px;
				    text-decoration: underline;
				}
			}
		}
		.relative-articles{
			h1{
				margin: 7px 0 0;
				font-size: 16px;
				font-weight: normal;
				color: #696969;
			}
			ul{
				list-style: none;
				padding: 0;
				margin: 0;
				li{
					margin: 5px 0;
					width: 100%;
					.news-container{
						display: block;
						height: auto;
						overflow: hidden;
						background: #fff;
						&:hover{
							box-shadow: none;
							cursor: pointer;
						};
						.news-img{
							float: left;
							width: 1.15rem;
							height: 0.85rem;
							margin: 0.05rem;
							background: #ccc;
							position: relative;
							span{
								position: absolute;
							    width: 0.4rem;
							    height: 0.2rem;
							    text-align: center;
							    line-height: 0.2rem;
							    color: #fff;
							    background: rgba(0,0,0,0.5);
							    font-size: 13px;
							}
							img{
								display: block;
								width: 100%;
								height:100%;
							}
						}
						.news-content{
							float: left;
							width: 54%;
							margin: 0.05rem;
							height: 0.85rem;
							.news-title{
								color: #565656;
								font-size: 0.14rem;
								margin-bottom: 0.1rem;
								line-height: 0.2rem;
								height: 0.6rem;
								padding: 0;
							}
							.news-detail{
								display: none;
							}
							.news-other{
								height: 0.16rem;
								overflow: hidden;
								color: #999;
								margin-top: 0;
								display: block;
								.news-author{
									float: left;
									height: 0.16rem;
									overflow: hidden;
									.news-author-photo{
										width: 0.16rem;
										height: 0.16rem;
										display: inline-block;
										vertical-align: top;
										border-radius: 0.08rem;
										float: left;
									}
									.news-author-name{
										line-height: 0.16rem;
										font-size: 0.12rem;
										margin-left: 0.06rem;
										color: #999;
										vertical-align: top;
										float: left;
										font-style: normal;
									}
								}
								.news-time{
									float: right;
									line-height: 0.16rem;
									height: 0.16rem;
									font-size: 0.12rem;
									color: #c9c9c9;
								}
							}
							.active-state{
								position: absolute;
								bottom: 0px;
								right: 0;
								left: 0;
								.enter-state{
									height: .2rem;
									line-height: .16rem;
									color: #00CAA9;
									font-size: .12rem;
									padding-right: .20rem;
									float: left;
									&.end{
										color: #ccc;
									}
								}
								.news-time{
									float: right;
									line-height: 0.16rem;
									height: 0.16rem;
									font-size: 0.12rem;
									color: #c9c9c9;
									display: block;
								}
							}
						}
					}
				}
			}
		}
		.page-comment{
			background: #fff;
			padding: 0 0 10px 0;
			margin-top: 0.1rem;
			.write-comm{
				h2{
					font-size: 0.15rem;
					padding: 20px 20px 0;
					font-weight: normal;
					color: #9b9b9b;
				}
				.touch-no-login{
				    width: 3rem;
				    height: 0.5rem;
				    font-size: 0.16rem;
				    text-align: center;
				    line-height: 0.5rem;
				    background: #00caa9;
				    margin: 0.3rem auto;
				    color: #fff;
				    border-radius: 5px;
				}
				.open-comm{
					textarea{
						width: 90%;
					    margin: auto;
					    height: 1rem;
					    border: none;
					    background: #F4F6F7;
					    border-radius: 5px;
					    -wekit-apprearance: none;
					    outline: none;
					    display: block;
					}
					.photo-name-submit{
						margin: 0.1rem auto 0;
						width: 90%;
						overflow: hidden;
						.photo-name{
							float: left;
							height: 30px;
							display: none;
							.photo{
							    display: block;
							    background: url(../images/topic_photo.png) no-repeat;
							    width: 30px;
							    height: 30px;
							    background-size: 100%;
							    float: left;
							    img{
							    	width: 100%;
							    	height: 100%;
							    	border-radius: 50%;
							    	display: block;
							    }
							}
							.name{
								float: left;
							}
						}
						.tips{
							width: 1.2rem;
							height: 0.25rem;
							background: #e4ecf3;
							border-radius: 2px;
							text-align: center;
							line-height: 0.25rem;
							font-size: 0.15rem;
							color: #696969;
							position: absolute;
							right: 0.7rem;
							display: none;
							top: 0.0.2rem;
						}
						.btn{
							float: right;
							width: 0.57rem;
							height: 0.25rem;
							border: none;
							border-radius: 0.03rem;
							background: #00ca99;
							color: #fff;
							font-size: 0.15rem;
							text-align: center;
							line-height: 0.25rem;
							margin-top: 0.02rem;
						}
					}
				}
				.close-comm{
					.sofa{
					    background: url(../images/comm-sofa.png) no-repeat;
					    width: 0.73rem;
					    height: 0.54rem;
					    background-size: 100%;
					    margin: 0.2rem auto;
					}
					.now-comm{
						overflow: hidden;
						font-size: 0.14rem;
						.text{
						    float: left;
						    font-size: 16px;
						    color: #9b9b9b;
						    height: 30px;
						    line-height: 30px;
						    margin-right: 10px;
						    margin-left: 0.5rem;
						}
						.btn{
						    float: left;
						    background: #00caa9;
						    width: 1rem;
						    height: 0.3rem;
						    text-align: center;
						    line-height: 0.3rem;
						    color: #fff;
						    border-radius: 5px;
						}
					}
				}
			}
			.comm-list{
				ul{
					list-style: none;
					padding:0;
					margin: 0;
					li{
						border-top: 1px solid #e1e1e1;
						margin: 0.1rem;
						padding: 5px 0;
						&:first-child{
							border-top : 0;
							margin: 0 0.1rem;
						};
						.photo-name-time{
							margin: 10px 0 5px;
							overflow: hidden;
							.photo-name{
								float: left;
								height: 0.3rem;
								.photo{
									display: inline-block;
									background: url(../images/topic_photo.png) no-repeat;
									width: 0.3rem;
									height: 0.3rem;
									background-size: 100%;
									float: left;
									img{
										width: 100%;
										height: 100%;
										display: block;
									}
								}
								.name-position{
									float: left;
									.name{
										line-height: 0.18rem;
										margin-left: 0.1rem;
										color: #9b9b9b;
										font-size: 0.13rem;
										float: none;
										display: block;
									}
									.position{
										line-height: 0.18rem;
										margin-left: 0.1rem;
										color: #9b9b9b;
										font-size: 0.12rem;
										float: none;
										display: block;
									}
								}
							}
							.time{
								float: right;
								color: #9b9b9b;
								font-size: 0.12rem;
								line-height: 0.3rem;
							}
						}
						.comm-content{
							font-size: 0.15rem;
							color: #696969;
							line-height: 0.27rem;
							margin-left: 0.4rem;
						}
					}
				}
			}
		}
	}
}
.loading{
	width: 100%;
	height: 800px;
	background:url(../images/loading.gif) center center no-repeat;
	background-size: 10%;
	display:none;
}
.mask{
	position: fixed;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	background: rgba(0,0,0,0.8);
	z-index: 9999;
	display: none;
	.bigImg{
		width: 90%;
		margin: 50% auto;
	}
}














