.footer{
	width: 100%;
	min-width: 980px;
	overflow: hidden;
	background: #555e68;
	.section{
		height: 240px;
		width: 1170px;
		margin: auto;
		section{
			float: left;
			&.partner-section{
				padding-top: 20px;
				width: 60%;
				ul{
					list-style: none;
					padding: 0;
					margin: 0;
					li{
						/*width: auto;*/
						height: 30px;
						float: left;
						margin: 20px;
						img{
							/*width: 100%;*/
							height: 100%;
						}
					}
				}
				h3{
					color: #fff;
					font-size: 18px;
					font-weight: normal;
					margin: 0;
					padding: 0;
				}
			}
			&.link-section{
				width: 40%;
				padding-top: 20px;
				.foot-logo{
					width: 165px;
					height: 50px;
					background: url(../images/foot-logo.png) no-repeat;
					background-size: 100% 100%;
				}
				.links{
					padding-top: 30px;
					padding-bottom: 10px;
					font-size: 13px;
					color: #c9c9c9;
					a{
						text-decoration: none;
						color: #c9c9c9;
					}
				}
				.cooperate,.kfmail,.kfTel,.address,.attention{
					font-size: 13px;
					color: #C9C9C9;
					padding: 4px 0;
					a{
						color: #c9c9c9;
						text-decoration: none;
					}
				}
				.attention{
					line-height: 24px;
					.wx{
						background: url(../images/wx-icon.png) no-repeat;
						padding-left: 34px;
						height: 24px;
						display: inline-block;
					}
					.showWx,.showXl{
						color: #fff;
						cursor: pointer;
					}
					.wxQr{
						background: url(../images/wxQr.jpg) no-repeat;
						width: 200px;
						height: 200px;
						position: fixed;
						bottom: 130px;
						background-size: 100% 100%;
						display: none;
					}
					.xl{
						background: url(../images/xl-icon.png) no-repeat;
						padding-left: 34px;
						height: 24px;
						margin-left: 20px;
						display: inline-block;
					}
				}
			}
		}
		
	}
	.bottom{
		height: 68px;
		background: #383E44;
		p{
			height: 68px;
			line-height: 68px;
			text-align: center;
			color: #C9C9C9;
		}
	}
}
.footer-simple{
	width: 100%;
	min-width: 980px;
	overflow: hidden;
	background: #555e68;
	.section{
		height: 100px;
		width: 1170px;
		margin: auto;
		section{
			float: left;
			&.link-section{
				width: 100%;
				height: 100%;
				.foot-logo{
					width: 165px;
					height: 50px;
					background: url(../images/foot-logo.png) no-repeat;
					background-size: 100% 100%;
					float: left;
					margin-top: 25px;
				}
				.links{
					font-size: 13px;
					color: #c9c9c9;
					float: left;
					height: 100px;
					line-height: 100px;
					margin-left: 85px;
					a{
						text-decoration: none;
						color: #c9c9c9;
						margin: 0 10px;
					}
				}
				.cooperate,.kfmail,.kfTel,.address{
					font-size: 13px;
					color: #C9C9C9;
					height: 100px;
					a{
						color: #c9c9c9;
						text-decoration: none;
					}
				}
				.attention{
					font-size: 13px;
					margin-top: 41px;
					float: left;
					color: #C9C9C9;
					margin-left: 50px;
					a{
						color: #c9c9c9;
						text-decoration: none;
					}
					.wx{
						background: url(../images/wx-icon.png) no-repeat;
						padding-left: 34px;
						height: 24px;
						display: inline-block;
						background-position-y: -1px;
					}
					.showWx,.showXl{
						color: #fff;
						cursor: pointer;
					}
					.wxQr{
						background: url(../images/wxQr.jpg) no-repeat;
						width: 200px;
						height: 200px;
						position: fixed;
						bottom: 130px;
						background-size: 100% 100%;
						display: none;
					}
					.xl{
						background: url(../images/xl-icon.png) no-repeat;
						padding-left: 34px;
						height: 24px;
						margin-left: 20px;
						display: inline-block;
						display: inline-block;
						background-position-y: -1px;
					}
				}
			}
		}
		
	}
	.bottom{
		height: 58px;
		background: #383E44;
		p{
			height: 58px;
			line-height: 58px;
			text-align: center;
			color: #C9C9C9;
			margin: 0;
			font-size: 13px;
		}
	}
}