*{padding: 0;margin: 0;font-size: 0.14rem;}
body{
	background: #fefeea;
}
/*头部信息*/
.head{
	width: 100%;
	height: 1.3rem;
	background: url(../imgs/findpwd.jpg) no-repeat;
	padding-top: 1px;
	background-size: 100% 100%;
}
.head .photo{
	width: 0.5rem;
	height: 0.5rem;
	margin: 0.1rem auto 0.05rem;
	border: 1px solid #333;
	border-radius: 50%;
	background: #fefeea;
}
.head .photo img{
	width: 80%;
	margin: 10%;
}
.head .name{
	margin: 0 auto;
	width: 1rem;
	text-align: center;
	color: #674611;
}
.head .sign_out{
	width: 0.98rem;
	height:0.3rem ;
	background: #b89256;
	text-align: center;
	line-height: 0.3rem;
	color: #fff;
	margin: 0.1rem auto 0;
}

/*密码输入框*/
.new_pwd{
	width: 2.75rem;
	margin: 0.5rem auto 0.2rem;
}
.new_pwd input,.confirm_pwd input{
	width: 1.85rem;
	height: 0.22rem;
	outline: none;
}
.confirm_pwd{
	width: 2.75rem;
	margin: 0 auto;
}
.save_btn{
	width: 0.75rem;
	height: 0.2rem;
	background: #af1f24;
	text-align: center;
	line-height: 0.2rem;
	color: #fefeea;
	margin: 0.2rem auto 0;
}

/*底部信息*/
.footer{
	position: fixed;
	bottom: 0;
	left: 0;
	width: 100%;
	height: 0.5rem;
	border-top: 1px solid #333;
	z-index: 1111111;
	background: #fefeea;
}
.footer ul{
	list-style: none;
}

.footer li{
	float: left;
	width: 25%;
}
.footer li div{
	text-align: center;
	font-size: 0.12rem;
}
.footer li .icon{
	margin: 0.05rem 0.3rem;
}
.footer li .icon_home{
	background: url(../imgs/home.png) no-repeat;
	width: 0.25rem;
	height: 0.25rem;
	background-size: 100%;
}
.footer li .icon_company{
	background: url(../imgs/company.png) no-repeat;
	width: 0.25rem;
	height: 0.25rem;
	background-size: 100%;
}
.footer li .icon_lecture{
	background: url(../imgs/lecture.png) no-repeat;
	width: 0.25rem;
	height: 0.25rem;
	background-size: 100%;
}
.footer li .icon_center{
	background: url(../imgs/center.png) no-repeat;
	width: 0.25rem;
	height: 0.25rem;
	background-size: 100%;
}



