*{padding: 0;margin: 0;font-size: 0.11rem;}
body{
	background: #fefeea;
}
/*标题*/
.biaoti{
	background-color: #d9a33b;
}
.biaoti h3 {
    font: 24px '微软雅黑';
    color: #fff;
    text-align: center;
    padding: 13px 12.5px;
    font-weight: bold;
}
.biaoti h3 a {
    float: left;
    color: #000;
    text-decoration: none;
}
/*头部信息*/
.head{
	width: 100%;
	height: 1.3rem;
	background: url(../imgs/findpwd.jpg) no-repeat;
	padding-top: 1px;
	background-size: 100% 100%;
}
.head .photo{
	width: 0.5rem;
	height: 0.5rem;
	margin: 0.1rem auto 0.05rem;
	border: 1px solid #333;
	border-radius: 50%;
	background: #fefeea;
}
.head .photo img{
	width: 80%;
	margin: 10%;
}
.head .name{
	margin: 0 auto;
	width: 1rem;
	text-align: center;
	color: #674611;
}
.head .sign_out{
	width: 0.98rem;
	height:0.3rem ;
	background: #b89256;
	text-align: center;
	line-height: 0.3rem;
	color: #fff;
	margin: 0.1rem auto 0;
}

/*验证码输入框*/
.verify_code{
	padding-bottom: .7rem;
}
.fill_phone{
	width: 2.75rem;
	margin: 0.5rem auto 0.2rem;
}
.send_code_btn{
	width: 0.76rem;
	height: 0.24rem;
	background: #af1f24;
	text-align: center;
	line-height: 0.24rem;
	color: #fefeea;
	margin: 0 0 0 0.05rem;
	display: inline-block;
}
.fill_phone input,.fill_code input{
	height: 0.22rem;
	outline: none;
    width: 1.85rem;
    height: 0.22rem;
    outline: none;
    border: 1px solid #bdbdbd;
    -webkit-appearance: none;
    text-indent: .05rem;	
}
.fill_code{
	width: 2.75rem;
	margin: 0 auto;
}
.add_btn{
	width: 0.75rem;
	height: 0.24rem;
	background: #af1f24;
	text-align: center;
	line-height: 0.24rem;
	color: #fefeea;
	margin: 0.2rem auto 0;
}

/*底部信息*/
.footer{
	position: fixed;
	bottom: 0;
	left: 0;
	width: 100%;
	height: 0.5rem;
	border-top: 1px solid #333;
	z-index: 1111111;
	background: #fefeea;
	padding-bottom:.08rem;
}
.footer ul{
	list-style: none;
}

.footer li{
	float: left;
	width: 25%;
}
.footer li div{
	text-align: center;
	font-size: 0.12rem;
}
.footer li .icon{
	margin: 0.05rem 0.3rem;
}
.footer li .icon_home{
	background: url(../imgs/home.png) no-repeat;
	width: 0.25rem;
	height: 0.25rem;
	background-size: 100%;
}
.footer li .home_active{
	background: url(../imgs/home_active.png) no-repeat;
	width: 0.25rem;
	height: 0.25rem;
	background-size: 100%;
}
.footer li .icon_company{
	background: url(../imgs/company.png) no-repeat;
	width: 0.25rem;
	height: 0.25rem;
	background-size: 100%;
}
.footer li .company_active{
	background: url(../imgs/company_active.png) no-repeat;
	width: 0.25rem;
	height: 0.25rem;
	background-size: 100%;
}
.footer li .icon_lecture{
	background: url(../imgs/lecture.png) no-repeat;
	width: 0.25rem;
	height: 0.25rem;
	background-size: 100%;
}
.footer li .lecture_active{
	background: url(../imgs/lecture_active.png) no-repeat;
	width: 0.25rem;
	height: 0.25rem;
	background-size: 100%;
}
.footer li .icon_center{
	background: url(../imgs/center.png) no-repeat;
	width: 0.25rem;
	height: 0.25rem;
	background-size: 100%;
}
.footer li .center_active{
	background: url(../imgs/center_active.png) no-repeat;
	width: 0.25rem;
	height: 0.25rem;
	background-size: 100%;
}
.home_text,.company_text,.lecture_text,.center_text{
	color: #f77c14;
}