// vendor prefixes support
$experimental-support-for-mozilla: false !default;
$experimental-support-for-webkit: true !default;
$support-for-original-webkit-gradients: true !default;
$experimental-support-for-opera: false !default;
$experimental-support-for-microsoft: false !default;
$experimental-support-for-khtml: false !default;
@import "compass/css3";

::-webkit-scrollbar {
  width: 8px;
  height: 12px;
}
::-webkit-scrollbar-thumb {
  box-shadow: inset 0 0 3px rgba(0, 0, 0, 0.5);
  border-radius: 4px;
  background: rgba(0, 0, 0, 0.25);
}
::-webkit-scrollbar-track {
  box-shadow: inset 0 0 3px rgba(0, 0, 0, 0.3);
  border-radius: 4px;
}
::selection {
  background-color: #48ae78;
  color: white;
}

#J-top{
    position: fixed;
    right: 15px;
    bottom: 15px;
    float: left;
    padding: 7px 15px;
    font-weight: 500;
    color: #999;
    background-color: #eee;
    display: none;
    &:hover{
        text-decoration: none;
    }
}
.fl{
    float: left;
}
.mr5{
    margin-right: 5px;
}
@keyframes flash {
  from, 50%, to {
    opacity: 1;
  }

  25%, 75% {
    opacity: 0;
  }
}
.ani-flash{
    color: red;
    animation-duration: 2s;
    animation-iteration-count: infinite;
    animation-name: flash;
    animation-timing-function: ease-in-out;
}
.input-append .add-on:last-child, .input-append .btn:last-child,
.control-group.success input, .control-group.success select, .control-group.success textarea{
    border: 2px solid #5bb75b;
}

.navbar-search .input-append .add-on:last-child,
.navbar-search .input-append .btn:last-child,
.navbar-search .control-group.success input{
    border: 2px solid #ccc;
}

.clearfix {
  &:before,
  &:after {
    content: " "; // 1
    display: table; // 2
  }
  &:after {
    clear: both;
  }
}
#J-changelog{
  height: 130px;
  overflow-y: auto;
}
