@import 'base';
strong{
    font-weight: bold;
}
.bold{
    font-weight: bold;
}

a{
    color:#5db95b;
    &:hover{
        color:#5db95b;
    }
}
.navbar{
    .navbar-inner{
        border-width: 0 0 1px 0;
    }
    .brand{
        background: url('../img/icon64.png') no-repeat 10px center;
        background-size: 26px auto;
        padding-left: 44px;
    }
}
.body-wrapper{
    width: 940px;
    margin: 0 auto;

    .setting-box{
        margin-bottom: 60px;
    }
    h1.title{
        font-weight: bold;
        font-size: 24px;
        margin-bottom: 20px;
        // color:#5bb75b;
        i{
            margin-left: 10px;
        }
    }
    h4{
        font-weight: bold;
        margin-bottom: 10px;
        i{
            margin-left: 5px;
            color:#5db95b;
            cursor: pointer;
        }
        i:hover{
            color:#5db95b;
        }
    }
    .btn i{
        margin-right: 3px;
    }
    .span1 select{
        width: 60px;
        margin-left: -20px;
    }

    .kw-box{
        border: 1px solid #ddd;
        position: relative;
        margin: 15px 0;
        padding: 39px 19px 14px;
        min-height:30px;
    }
    .kw-title{
        position: absolute;
        top: -1px;
        left: -1px;
        padding: 3px 7px;
        font-size: 12px;
        font-weight: bold;
        color: #9da0a4;
        background-color: #f5f5f5;
        border: 1px solid #ddd;
    }
    .kw-con{
        color:#9da0a4;
        text-align: center;
        span{
            margin-right: 10px;
            cursor: pointer;
        }
        span.J-close{
            margin-right: 0;
            margin-left: 4px;
            &:hover{
                color:#eee;
            }
        }
    }
    span.label{
        margin-right: 10px;
    }
    .J-label{
        cursor: pointer;
    }
    .ktips{
        color:#5db95b;
        cursor: pointer;
    }

}


.tooltip.top .tooltip-arrow{
    border-top-color: #5db95b
}
.tooltip-inner{
    background-color: #5db95b
}
button[type=submit]{
    background-color: #5bb75b;
}
button[type=submit]:hover, input[type=submit]:hover{
    background-color: #51a351
}
.popover.top{
    max-width: 460px;
    width: 400px;
    font-size: 12px;
    display: block;
    top: -30px;
    border:1px solid #ffba00;
    background-color: #FEFDED;
    .popover-content{
        padding: 3px 5px;
        p{
            margin:0;
            color:#F48C12
        }
    }
    .arrow{
        left:10%;
        border-top-color:#ffba00;
    }
}
a.J-dkw, a.J-dkw:visited,a.J-dkw:hover{
    color:white;
}
.modal{
    #J-update-info{
        color:#5db95b;
    }
    #J-update-info.error{
        color:#bc1c48;
    }

}
