/* line 3, ../scss/main.scss */
* {
  padding: 0;
  margin: 0;
}

/* line 8, ../scss/main.scss */
body {
  background: #1543aa url(../img/bg.png) no-repeat top center;
  -webkit-background-size: 460px auto;
  -moz-background-size: 460px auto;
  -o-background-size: 460px auto;
  background-size: 460px auto;
}

/* line 12, ../scss/main.scss */
header {
  position: relative;
  width: 100%;
  height: 144px;
  margin-bottom: 5px;
}
/* line 17, ../scss/main.scss */
header .logo {
  height: 24px;
  width: 64px;
  position: absolute;
  left: 10px;
  top: 10px;
  background: url(../img/logo.png) no-repeat center center;
  -webkit-background-size: 64px auto;
  -moz-background-size: 64px auto;
  -o-background-size: 64px auto;
  background-size: 64px auto;
  z-index: 2;
}
/* line 27, ../scss/main.scss */
header .banner {
  width: 100%;
  margin: 0 auto;
  text-align: center;
  z-index: 1;
}
/* line 33, ../scss/main.scss */
header .banner img {
  width: 320px;
}
/* line 36, ../scss/main.scss */
header .branch {
  position: absolute;
  z-index: 2;
  top: 15px;
  right: 0;
  width: 129px;
  height: 65px;
  background: url(../img/branch.png) no-repeat center center;
  -webkit-background-size: 129px auto;
  -moz-background-size: 129px auto;
  -o-background-size: 129px auto;
  background-size: 129px auto;
}

/* line 47, ../scss/main.scss */
.timer {
  color: white;
  width: 242px;
  height: 30px;
  margin: 0 auto 15px;
  font-size: 12px;
}
/* line 53, ../scss/main.scss */
.timer p {
  float: left;
  margin-right: 5px;
  height: 28px;
  line-height: 28px;
}
/* line 59, ../scss/main.scss */
.timer #J-timer {
  font-size: 18px;
}
/* line 62, ../scss/main.scss */
.timer .progress {
  position: relative;
  float: left;
  width: 160px;
  height: 10px;
  background: #012e92;
  margin-top: 10px;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  -ms-border-radius: 5px;
  -o-border-radius: 5px;
  border-radius: 5px;
  -webkit-box-shadow: inset 0 0 13px rgba(0, 0, 0, 0.5);
  -moz-box-shadow: inset 0 0 13px rgba(0, 0, 0, 0.5);
  box-shadow: inset 0 0 13px rgba(0, 0, 0, 0.5);
}
/* line 72, ../scss/main.scss */
.timer .pbar {
  position: absolute;
  left: 0;
  height: 10px;
  width: 100%;
  background-color: #e3350c;
  background-image: -webkit-gradient(linear, to right, to left, color-stop(0%, #c42800), color-stop(100%, #de4a02));
  background-image: -webkit-linear-gradient(to right, #c42800, #de4a02);
  background-image: -moz-linear-gradient(to right, #c42800, #de4a02);
  background-image: -o-linear-gradient(to right, #c42800, #de4a02);
  background-image: linear-gradient(to right, #c42800, #de4a02);
  -webkit-border-radius: 5px 0 0 5px;
  -moz-border-radius: 5px 0 0 5px;
  -ms-border-radius: 5px 0 0 5px;
  -o-border-radius: 5px 0 0 5px;
  border-radius: 5px 0 0 5px;
}

/* line 82, ../scss/main.scss */
.game {
  position: relative;
  width: 300px;
  height: 300px;
  margin: 0 auto 20px;
  padding: 2.5px;
  border: 1px solid #25a8e7;
  background-color: #0480d1;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  -ms-border-radius: 5px;
  -o-border-radius: 5px;
  border-radius: 5px;
}
/* line 92, ../scss/main.scss */
.game div.item {
  z-index: 1;
  width: 93px;
  height: 93px;
  float: left;
  margin: 2.5px;
  background: #113992 url(../img/hole.png) no-repeat center center;
  border: 1px solid #25a8e7;
  -webkit-box-shadow: inset 0 5px 3px #012471;
  -moz-box-shadow: inset 0 5px 3px #012471;
  box-shadow: inset 0 5px 3px #012471;
  -webkit-background-size: 80px auto;
  -moz-background-size: 80px auto;
  -o-background-size: 80px auto;
  background-size: 80px auto;
}
/* line 103, ../scss/main.scss */
.game canvas {
  z-index: 999;
  position: absolute;
  top: 2.5px;
  left: 2.5px;
  width: 300px;
  height: 300px;
}

/* line 112, ../scss/main.scss */
footer p {
  line-height: 18px;
  color: #011134;
  text-align: center;
  font-size: 12px;
}

/* line 119, ../scss/main.scss */
.hmask {
  position: fixed;
  height: 100%;
  width: 100%;
  bottom: 0;
  top: 0;
  left: 0;
  right: 0;
  background: rgba(0, 0, 0, 0.6);
  z-index: 999;
}

/* line 131, ../scss/main.scss */
.mydia {
  -webkit-border-radius: 10px;
  -moz-border-radius: 10px;
  -ms-border-radius: 10px;
  -o-border-radius: 10px;
  border-radius: 10px;
  position: fixed;
  top: 10%;
  left: 50%;
  width: 248px;
  height: 259px;
  margin-left: -124px;
  background: #007be2 url(../img/bg2.png) no-repeat top center;
  -webkit-background-size: 250px auto;
  -moz-background-size: 250px auto;
  -o-background-size: 250px auto;
  background-size: 250px auto;
  -webkit-box-shadow: 1px 3px 1px #0064b8;
  -moz-box-shadow: 1px 3px 1px #0064b8;
  box-shadow: 1px 3px 1px #0064b8;
  z-index: 1999;
}
/* line 145, ../scss/main.scss */
.mydia .l-start .lbanner {
  margin: 5px auto 5px;
  text-align: center;
}
/* line 150, ../scss/main.scss */
.mydia .l-start ul {
  list-style: decimal inside none;
}
/* line 153, ../scss/main.scss */
.mydia .l-start li {
  color: white;
  font-size: 12px;
  line-height: 16px;
  padding: 0 15px;
}
/* line 158, ../scss/main.scss */
.mydia .l-start li span {
  color: #fdfb37;
}
/* line 163, ../scss/main.scss */
.mydia .btns {
  text-align: center;
  margin-bottom: 10px;
}

/* line 168, ../scss/main.scss */
i {
  font-style: normal;
}

/* line 171, ../scss/main.scss */
.mydia2 {
  background: #007be2 url(../img/bg2.png) no-repeat center bottom;
  height: 300px;
}
/* line 174, ../scss/main.scss */
.mydia2 .close {
  z-index: 29999;
  background: url(../img/close.png) no-repeat top center;
  display: inline-block;
  width: 44px;
  height: 44px;
  text-indent: -99em;
  position: absolute;
  right: -10px;
  top: -8px;
}
/* line 186, ../scss/main.scss */
.mydia2 .l-over p {
  font-size: 14px;
  line-height: 24px;
  color: white;
  padding: 0 13px 5px;
}
/* line 192, ../scss/main.scss */
.mydia2 .l-over .num {
  color: #fe621e;
  font-size: 20px;
  font-weight: bold;
  margin: 0 2px;
}
/* line 198, ../scss/main.scss */
.mydia2 .l-over .rank {
  color: #fce918;
  font-size: 20px;
  font-weight: bold;
  margin: 0 2px;
}
/* line 205, ../scss/main.scss */
.mydia2 .over-banner {
  position: relative;
  text-align: center;
}
/* line 208, ../scss/main.scss */
.mydia2 .over-banner img {
  margin: 30px auto 10px;
}
/* line 211, ../scss/main.scss */
.mydia2 .over-banner span.score {
  font-size: 20px;
  color: white;
  font-weight: bold;
  position: absolute;
  top: 25px;
  right: 58px;
  text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.75);
}

/* line 223, ../scss/main.scss */
button {
  color: white;
  background: #fdd237;
  border: 0 none;
  padding: 5px 12px;
  font-size: 18px;
  text-align: center;
  text-shadow: 1px 1px 1px #b58f04;
  -webkit-box-shadow: 1px 3px 2px #c89d01;
  -moz-box-shadow: 1px 3px 2px #c89d01;
  box-shadow: 1px 3px 2px #c89d01;
  -webkit-border-radius: 10px;
  -moz-border-radius: 10px;
  -ms-border-radius: 10px;
  -o-border-radius: 10px;
  border-radius: 10px;
}
/* line 234, ../scss/main.scss */
button[disabled] {
  background-color: #E9B600;
}

/* line 238, ../scss/main.scss */
.loading {
  z-index: 39999;
  position: fixed;
  top: 48%;
  left: 48%;
}
/* line 243, ../scss/main.scss */
.loading img {
  background-color: transparent;
}

/* line 247, ../scss/main.scss */
#J-fail {
  z-index: 89999;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: white;
  opacity: 0;
  width: 100%;
  height: 100%;
  -webkit-animation: fadeIn .6s both ease-in;
  animation: fadeIn .6s both ease-in;
}

@-webkit-keyframes fadeIn {
  /* line 263, ../scss/main.scss */
  from {
    opacity: 0;
  }

  /* line 266, ../scss/main.scss */
  30% {
    opacity: .7;
  }

  /* line 269, ../scss/main.scss */
  50% {
    opacity: .9;
  }

  /* line 272, ../scss/main.scss */
  100% {
    opacity: 0;
  }
}

@keyframes fadeIn {
  /* line 277, ../scss/main.scss */
  from {
    opacity: 0;
  }

  /* line 280, ../scss/main.scss */
  30% {
    opacity: .7;
  }

  /* line 283, ../scss/main.scss */
  50% {
    opacity: .9;
  }

  /* line 286, ../scss/main.scss */
  100% {
    opacity: 0;
  }
}
