.page-video{
	margin: 85px auto 0;
	width: 1170px;
	.video{
		height: 850px;
		margin-bottom: 10px;
		padding: 25px;
		background: #fff;
		.icon{
			background: url(../images/video-icon.png) no-repeat;
		}
		.video-title{
			height: 24px;
			line-height: 24px;
			font-size: 20px;
			color: #696969;
			margin-bottom: 15px;
		}
		.video-info{
			height: 30px;
			font-size: 13px;
			color: #c9c9c9;
			line-height: 30px;
			position: relative;
			.person{
				float: left;
				span{
					margin-right: 20px;
					i{
						font-style: normal;
						&:first-child{
							margin-right:5px;
						}
						&.icon-person{
							display: inline-block;
							width: 15px;
							height: 11px;
							background-size: 400%;
						}
						&.watched{
							background-position: 1px -39px;
						}
						&.comm{
							background-position: -23px -39px;
						}
						&.good{
							background-position: -43px -39px;
						}
					}
				}
			}
			.share{
				float: right;
				i{
					float: left;
				    font-style: normal;
				    line-height: 30px;
				    color: #696969;
				    margin-left: 5px;
				    font-size: 14px;
				}
				.share_bg{
					float: left;
					background: url(../images/share.png) no-repeat;
					display: block;
					width: 30px;
				    height: 30px;
				    background-size: 220%;
				    cursor: pointer;
				}
				.sina{
					background-position: -37px 1px;
				}
				.weixin{
					background-position: 1px 1px;
					margin-right: 10px;
				}
				.panel-weixin{
					position: absolute;
				    top: 40px;
				    right: 40px;
				    padding: 0;
				    border: 1px solid rgb(204, 204, 204);
				    display: none;
				    background: rgb(255, 255, 255);
				    overflow: hidden;
				    .weixin-section{
				    	float: left;
				    	p{
				    		width: 70px;
							height: 70px;
							margin: 10px;
							img{
								width: 100%;
							}
				    	}
				    }
				    h3{
			    	    float: left;
					    width: 150px;
					    font-size: 14px;
					    font-weight: normal;
					    color: #696969;
					    margin: 10px;
					    line-height: 23px;
				    }
				}
			}
		}
		.video-detail{
			height: 630px;
			margin: 15px 0;
			.player{
				height: 100%;
			}
		}
		.guide-img{
			background-position: 0 0;
			background-size: 100%;
			width: 60px;
			height: 35px;
		}
		.guide-person{
			overflow: hidden;
			margin-top: 20px;
			.photo{
				float: left;
				width: 60px;
				height: 60px;
				img{
					border-radius:30px;
					width: 100%;
				}
			}
			.person-info{
				float: left;
				line-height: 30px;
				margin-left: 10px;
				span{
					display: block;
					&:first-child{
						color:#555;
					}
					&:last-child{
						color: #696969;
					};
				}
			}
		}
	}
	.class-info{
	    background: #fff;
	    margin-bottom: 10px;
	    padding: 20px;
	    .class-title{
	    	font-size: 18px;
	    	margin-bottom: 10px;
	    	padding-left: 30px;
	    	background: url(../images/video-course-icon.png) no-repeat;
	    	background-size: 20px 20px;
	    	background-position: 1px 2px;
	    }
	    .class-detail{
	    	color: #555;
	    	font-size: 14px;
	    	line-height: 18px;
	    	img{
	    		max-width: 100%;
	    	}
	    }
	}
	.page-comment{
		background: #fff;
		padding: 0 0 10px 0;
		margin-top: 20px;
		margin-bottom: 20px;
		.write-comm{
			h2{
				font-size: 18px;
				padding: 20px 20px 0;
				font-weight: normal;
				color: #9b9b9b;
			}
			.touch-no-login{
				display : none;
			}
			.open-comm{
				textarea{
					width: 95%;
				    margin: auto;
				    height: 136px;
				    border: none;
				    background: #F4F6F7;
				    border-radius: 5px;
				    -wekit-apprearance: none;
				    outline: none;
				    padding: 10px;
				    font-size: 14px;
				    display: block;
				    color: #9B9B9B;
				}
				.photo-name-submit{
					margin: 20px 20px;
					overflow: hidden;
					position: relative;
					.photo-name{
						float: left;
						height: 30px;
						.photo{
							display: inline-block;
							background: url(../images/topic_photo.png) no-repeat;
							width: 30px;
							height: 30px;
							background-size: 100%;
							float: left;
							img{
							    width: 100%;
							    height: 100%;
							    border-radius: 50%;
							    display: block;
							}
						}
						.name{
							line-height: 30px;
							margin-left: 10px;
							color: #9b9b9b;
							font-size: 14px;
						}
					}
					.tips{
						width: 165px;
						height: 30px;
						background: #e4ecf3;
						border-radius: 2px;
						text-align: center;
						line-height: 30px;
						font-size: 16px;
						color: #696969;
						position: absolute;
						right: 90px;
						display: none;
					}
					.btn{
						float: right;
						width: 68px;
						height: 30px;
						border: none;
						border-radius: 3px;
						background: #00ca99;
						color: #fff;
						font-size: 16px;
						outline: none;
						cursor: pointer;
						text-align: center;
						line-height: 30px;
					}
				}
			}
			.close-comm{
				.sofa{
					background: url(../images/comm-sofa.png) no-repeat;
					width: 101px;
					height: 74px;
					background-size: 100%;
					margin: 25px auto;
				}
				.now-comm{
					overflow: hidden;
					.text{
					    float: left;
					    font-size: 16px;
					    color: #9b9b9b;
					    height: 30px;
					    line-height: 30px;
					    margin-right: 10px;
					    margin-left: 250px;
					}
					.btn{
					    float: left;
					    background: #00caa9;
					    width: 94px;
					    height: 30px;
					    text-align: center;
					    line-height: 30px;
					    color: #fff;
					    border-radius: 5px;
					    cursor: pointer;
					}
				}
			}
		}
		.comm-list{
			ul{
				list-style: none;
				padding:0;
				margin: 0;
				li{
					border-top: 1px solid #e1e1e1;
					margin: 20px 20px;
					padding: 10px 0;
					&:first-child{
						border-top: 0;
					};
					.photo-name-time{
						margin: 10px 0;
						overflow: hidden;
						.photo-name{
							float: left;
							height: 40px;
							.photo{
								display: inline-block;
								background: url(../images/topic_photo.png) no-repeat;
								width: 40px;
								height: 40px;
								background-size: 100%;
								float: left;
								img{
									width: 100%;
									height: 100%;
									border-radius: 20px;
									display: block;
								}
							}
							.name-position{
								float: left;
								.name{
									line-height: 40px;
									margin-left: 20px;
									color: #9b9b9b;
									font-size: 16px;
									float: left;
								}
								.position{
									line-height: 40px;
									margin-left: 10px;
									color: #9b9b9b;
									font-size: 16px;
									float: left;
								}
							}
						}
						.time{
							float: right;
							color: #9b9b9b;
							font-size: 16px;
							height: 40px;
							line-height: 40px;
						}
					}
					.comm-content{
						font-size: 16px;
						color: #696969;
						line-height: 30px;
						margin-left: 60px;
					}
				}
			}
		}
	}
}







