<div class="footer">
	<footer>
		<div class="friend_links">
			<a href="www.baidu.com">百度一下</a>
			<a href="www.baidu.com">百度一下</a>
			<a href="www.baidu.com">百度一下</a>
			<a href="www.baidu.com">百度一下</a>
			<a href="www.baidu.com">百度一下</a>
			<a href="www.baidu.com">百度一下</a>
			<a href="www.baidu.com">百度一下</a>
			<a href="www.baidu.com">百度一下</a>
			<a href="www.baidu.com">百度一下</a>
		</div>
		<div class="info">
			<p>website designd by <a href="mailto:wojay@163.com">Uncle Wang</a></p>
			<p>
				Copyright &nbsp;© 2016 <a href="http://dojay.cn"> &nbsp;王叔笔记</a>&nbsp; &nbsp;冀ICP备16000662号-1
			</p>
		</div>
	</footer>
</div>