<div class="header">
	<header>
		<div class="logo">
			<a href="/">王叔笔记</a>
		</div>
		<nav>
			<ul>
				<li>
					<a class="fe" href="/fe/">前端</a>
				</li>
				<li>
					<a class="server" href="/server/">后端</a>
				</li>
				<li>
					<a class="other" href="/other/">杂谈</a>
				</li>
			</ul>
		</nav>
	</header>
</div>