<!DOCTYPE html>
<html lang="zh-CN">
<head>
	<meta charset="UTF-8">
	<title>王叔笔记</title>
	<meta name="keywords" content="王叔笔记 王东杰 前端技术博客">
	<meta name="description" content="王叔叔的笔记，一个前端爱好者的不归路">

	<link rel="stylesheet" type="text/css" href="/css/list.min.css">
	
</head>
<body>
	<!-- 头部 -->
		<%- include header%>
	<!-- 列表 -->
		<div class="wrapper">
			<div class="page_server"></div>
		</div>
	<!-- 底部 -->
		<%- include footer%>
</body>
<script type="text/javascript" src="/js/base.min.js"></script>
<script type="text/javascript" src="/js/server.min.js"></script>
</html>

