!!! 5
html
    head
        title=pageTitle
        link(rel='stylesheet', href='/css/style.css')
    body
        nav
            ul
                each item in arr
                    li 项目#{item}
        block content
        foot copyright:常州玉凌软件公司版权所有